@use 'src/scss/utils';

.avatar {
    height: utils.spacing(24);
    width: utils.spacing(24);
}

.root {
    display: flex;
    flex-direction: column;
    margin: utils.spacing(5);
    gap: utils.spacing(1);
  }