@use 'src/scss/utils';

.flex {
    display: flex;
    flex-direction: column;
}

.root {
    align-items: center;
    justify-content: flex-start;
    gap: utils.spacing(4);
    border-right: solid gray 1px;
    background: rgb(31, 31, 31);
}

.logo {
    height: utils.spacing(8);
    width: utils.spacing(8);
    margin-top: utils.spacing(3);
}

.group {
    display: flex;
    flex-direction: column;
    // width: 100%;
    padding-left: utils.spacing(4);
}

.button {
    border-radius: 0;
    padding: utils.spacing(4);
}

.buttons {
    margin-top: utils.spacing(-10);
    flex: 1;
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: utils.spacing(5);
    color: rgb(250, 250, 250);
}