@use 'src/scss/utils';

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: utils.spacing(2);
  padding: utils.spacing(1.5, 1, 1.5, 3);
}

.pageMessage {
  position: absolute;
  left: utils.spacing(3);
  bottom: utils.spacing(2);
  margin-right: utils.spacing(3);
  overflow: hidden;
}

.loader {
  width: 100%;
  min-width: 600px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
