@use 'src/scss/utils';

.root {
  display: flex;
  flex-direction: column;
  // display: grid;
  // grid-template-columns: .25fr auto;
  min-height: 100vh;
  padding: utils.spacing(10);
}

.usersSearchBox:hover {
  background: rgba(0,0,0,.2);
}

.form {
  display: flex;
  flex-direction: column;
  gap: utils.spacing(2);
}

.flex {
  display: flex;
}

.delButton {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: utils.spacing(3.5);
  width: utils.spacing(3.5);
  // border: solid white 1px;
  background: white;
}

.avatars {
  flex-direction: row;
}

.avatar {
  height: utils.spacing(8);
  width: utils.spacing(8);
}

.image {
  width: 100%;
}
