@use 'src/scss/utils';

.root {
  display: grid;
  grid-template-columns: .25fr auto;
  min-height: 100vh;
}

.content {
  // min-height: 100vh;
  // display: flex;
  // gap: utils.spacing(4);
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // font-size: calc(10px + 2vmin);
  // color: white;
  width: 100%;
}

.topNav {
  // border-bottom: solid gray 1px;
  padding: utils.spacing(2);
  margin-bottom: utils.spacing(1);
}

.searchHelperText {
  position: absolute;
  bottom: -21px;

  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms ease;

  &:global(.Mui-focused) {
    opacity: 1;
    visibility: visible;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: utils.spacing(2);
}

.flex {
  display: flex;
}

.delButton {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: utils.spacing(3.5);
  width: utils.spacing(3.5);
  // border: solid white 1px;
  background: white;
}

.avatars {
  flex-direction: row;
  // align-items: baseline;
  // justify-content: baseline;
}

.avatar {
  height: utils.spacing(8);
  width: utils.spacing(8);
}

.todo {
  
}
